.about__inner {
    margin: 15px auto;
    padding: 15px;
    max-width: 1230px;
    text-align: center;
}
  
.about__text {
    margin: 0 auto;
    color: #8B7969;
    text-decoration: none;
    font-size: 35px;
}

.contact-form__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.form {
    margin: 0 auto;
    width: 65%;
    color: #8B7969;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 40px;
}

.form__group--last {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: max-content;
}

.form__group-title--required {
    margin-left: 5px;
    color: #FF9494;
}

.form__group-title {
    width:33%;
    line-height: 40px;
}

.form__group-input {
    width:66%;
    line-height: 40px;
}

.form__group-input--text input {
    width: 95%;
    background-color: #eeeeee;
    border: none;
    outline: none;
    line-height: 32px;
}

.form__group-input--text-two, .form__group-input--text-three {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.form__group-input--text-two input {
    width: 47.5%;
    background-color: #eeeeee;
    border: none;
    outline: none;
    line-height: 32px;
}

.form__group-input--text-three input {
    width: 28%;
    background-color: #eeeeee;
    border: none;
    outline: none;
    line-height: 32px;
} 

.form__group-input--text-three span {
    line-height: 32px;
}

.form__group-input--text input::placeholder,
.form__group-input--text-two input::placeholder {
    padding-left: 20px;
    color: #8B7969;
}

.form__group-input--text-three input::placeholder {
    text-align: center;
    color: #8B7969;
}

.form__group-input--radio label{
    margin-right: 30px;
    margin-left: 5px;
}

.form__group-input--select select {
    width: 50%;
    color: #8B7969;
    background-color: #eeeeee;
    border: none;
    outline: none;
    height: 32px;
}


.form__group-input--text textarea{
    width: 95%;
    background-color: #eeeeee;
    border: none;
    outline: none;
}

.form__group-input--text textarea::placeholder {
    padding-top: 10px;
    padding-left: 20px;
    color: #8B7969;
}

.form__button {
    text-align: center;
}
  
.form__button-submit {
    padding: 10px 20px;
    height: 40px;
    border: none;
    background: #8B7969;
    color: #fff;
    cursor: pointer;
}