.about__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    text-align: center;
}
  
.about__title {
    color: #8B7969;
    text-decoration: none;
    font-size: 35px;
}

.contact-form__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.form {
    margin: 0 auto;
    width: 80%;
    color: #8B7969;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__group-title--required {
    margin-left: 5px;
    color: #FF9494;
}