.modal {
    position: fixed; /* 画面全体を基準に配置 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    z-index: 100;
    background-color: #ffffff;
    max-width: 60vw;
    max-height: 90vh;
    overflow: auto;
    border: solid 1px #BAA899;
    box-shadow: 3px 3px 3px #d6d6d6;
}

.modal-content__close {
    position: relative;
    padding: 20px 0px;
    margin-bottom: 20px;
    text-align: center;
}

.modal-content__close button {
    display: flex; /* 中央揃え */
    align-items: center; /* 縦方向の中央配置 */
    justify-content: center; /* 横方向の中央配置 */
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: unset;
    color: #8B7969;
    border: 1px solid #8B7969;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.modal-content__inner {
    margin: 0px auto;
    width: 80%;
}

.modal-table__row {
    height: auto;
}

.modal-table__header {
    padding: 15px 30px 15px 0;
    color: #8B7969;
    text-align: left;
    white-space: nowrap;
}

.modal-table__text {
    padding: 15px 0px 15px 30px;
    color: #8B7969;
    width: 100%;
}

.modal-table__header--last, .modal-table__text--last {
    vertical-align: top;
}

.modal-content__delete {
    text-align: center;
    margin: 40px 0;
    background-color: unset;
    color: unset;
}

.modal-content__delete button {
    padding: 5px 15px;
    border: none;
    background: #BA370D;
    color: #fff;
    cursor: pointer;
}