.thanks-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* 背景の大きなThank youテキスト */
.thanks-container__background-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(139, 121, 105, 0.05);
    text-align: center;
    white-space: nowrap; /* テキストを一行にする */
    overflow: hidden;    /* はみ出した部分は非表示 */
    font-size: 220px;
}

/* 前面に表示するコンテンツ */
.thanks-container__message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}
  
.thanks-container__message p {
    margin: 0 0 40px;
    color: #8B7969;
    font-family: none;
    font-weight: bold;
    font-size: 20px;
}

.thanks-container__message a {
    display: inline-block;
    padding: 10px 40px;
    background-color: #8B7969;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.inika-regular {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
}